<aside class="main-sidebar elevation-1 sidebar-light-teal">
    <a href="/" class="brand-link logo-switch text-sm">
        <img src="/img/logo-mini.svg" alt="Мой Дом 24 Small" class="brand-image-xl logo-xs">
        <img src="/img/logo.svg" alt="Мой Дом 24 Large" class="brand-image-xs logo-xl" style="left: 25%;">
    </a>
    <div class="sidebar os-theme-dark">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a class="nav-link">
                        <i class="nav-icon fa-solid fa-chart-line"></i>
                        <p>Сводка
                            <i class="fa-solid fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="summary-list"></ul>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link">
                        <i class="nav-icon fa-solid fa-file-invoice-dollar"></i>
                        <p>Квитанции
                            <i class="fa-solid fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="invoice-list"></ul>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link">
                        <i class="nav-icon fa-solid fa-dollar-sign"></i>
                        <p>Тарифы
                            <i class="fa-solid fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" id="tariff-list"></ul>
                </li>
                <li class="nav-item">
                    <a href="/messages" class="nav-link">
                        <i class="nav-icon fa-solid fa-envelope"></i>
                        <p>Сообщения</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/master-requests" class="nav-link">
                        <i class="nav-icon fa-solid fa-screwdriver-wrench"></i>
                        <p>Вызов мастера</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link">
                        <i class="nav-icon fa-solid fa-circle-user"></i>
                        <p>Профиль</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>